<html>
<body>
	<h1>Welcome {{ name }}</h1>
     - "HOSTNAME= {{ansible_hostname}}" </br>
     - "IP ADRESS= {{ansible_all_ipv4_addresses}}" </br>
     - "Distribution= {{ansible_distribution}}" </br>
     - "RAM-Total- {{ ansible_memory_mb.real.total }} mb" </br>
     - "RAM-Free- {{ansible_memory_mb.real.free}} mb" </br>
     - "RAM-Used- {{ansible_memory_mb.real.used}} mb" </br> 
     - "Disk-Total- {{ansible_devices.sda.size}}" </br>
     - "Network Devices- {{ ansible_interfaces }}" </br>
</body>
</html>

